.loading {
    // position: absolute;
    // right: 50%;
    // transform: translateX(50%);
    // bottom: 0;
    transition: all 0.25s;
    display: flex;
    justify-content: center;

    div {
        height: 4rem !important;
        width: 4rem !important;
    }
}