.popover {
  background-color: var(--color-grey-light-1);
  min-height: 10rem;
  min-width: 20rem;
  box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.2);
  border-radius: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    background-color: color-mix(
      in srgb,
      var(--color-primary) 95%,
      var(--color-grey-light-1) 5%
    );
    color: var(--color-grey-light-1);
    padding: 1rem 0.5rem;
    font-size: 1.5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .close-icon {
      cursor: pointer;
      height: 2rem;
      width: 2rem;
      fill: currentColor;
    }
  }

  &__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    max-height: 40rem;
    overflow-y: auto;

    @media screen and (max-width: 37.5em) {
      max-height: 35rem;
    }

    .row {
      display: flex;      

      &:first-child {
        margin-block-start: 0;
      }

      .col {
        font-size: 1.4rem;
        color: var(--color-grey-dark-3);
        min-width: 30%;
        flex-grow: 1;

        &.center {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &.start {
          display: flex;
          justify-content: start;
          align-items: center;
        }

        &.end {
          text-align: end;
        }

        .input {
            text-align: center;
        }

      }
    }
  }
}
