.side-nav {
  position: fixed;
  top: 6rem;
  right: 0;
  z-index: 1;
  height: calc(100dvh - 6rem);
  width: 30rem;
  background-image: linear-gradient(
    to bottom,
    rgba(var(--color-primary-rgb), 0.9),
    rgba(var(--color-secondary-rgb), 0.9)
  );
  box-shadow: -0.5rem 0rem 1rem rgba(var(--color-secondary-rgb), 0.4);
  backdrop-filter: blur(1rem);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__link,
  &__link:visited {
    text-decoration: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 2rem;
    color: var(--color-grey-light-1);
    padding: 1rem 2.5rem;
    transition: all 0.25s;
  }

  &__item {
    display: block;
    background-color: transparent;
    transition: all 0.25s;

    &:last-of-type {
      margin-top: auto;
    }
  }

  &__item:hover, &__item.hover {
    background-color: var(--color-primary);
  }

  &__item:hover &__link, &__item.hover &__link {
    padding: 1rem 2rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: currentColor;
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
