.table-buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;

  & > * {
    cursor: pointer;
  }

  .edit,
  .pdf {
    height: 2rem;
    width: 2rem;
    fill: var(--color-primary);
  }
}
