//text-input
@use 'components/input';

//btn
@use 'components/btn';

//loader
@use 'components/loading';

//main-navbar
@use 'components/navbar';

//side-nav
@use 'components/sidenav';

//work-space
@use 'components/workspace';

//page-heading
@use 'components/heading';

//data-grid
@use 'components/datagrid';

//pagination 
@use 'components/pagination';

//select
@use 'components/select';

//toast
@use 'components/toast';

//table-buttons
@use 'components/tablebuttons';

//checkbox
@use 'components/checkbox';

//modal
@use 'components/modal';










